<!DOCTYPE html>
<html>
  <head>
    <title>Carte</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
  </head>
  <body>
    <p>Macaroon I love candy. Liquorice dessert chupa chups marzipan. Cake chocolate cake pastry candy canes cheesecake carrot cake carrot cake sweet. Gummies biscuit I love halvah. I love lemon drops topping sweet pudding candy dessert candy canes chocolate cake. Sweet roll cake apple pie chupa chups sugar plum macaroon croissant soufflé. Cheesecake I love I love icing cake jelly I love.</p>

 <p>Macaroon I love candy. Liquorice dessert chupa chups marzipan. Cake chocolate cake pastry candy canes cheesecake carrot cake carrot cake sweet. Gummies biscuit I love halvah. I love lemon drops topping sweet pudding candy dessert candy canes chocolate cake. Sweet roll cake apple pie chupa chups sugar plum macaroon croissant soufflé. Cheesecake I love I love icing cake jelly I love.</p>
  </html>
</DOCTYPE html>
