body{
  overflow-x: hidden;
}

.team_img{
  position: relative;
}

#team{
  height: 75vh;
  width: 100%;
}

.text_project{
  position: absolute;
  width: 70%;
  top: 20%;
  left: 10%;
  padding: 4%;
  background-color: #ffffff;
  font-size: 1em;
}

.text_about{
  font-size: 1em;
}

.perimetre, .voyage, .carte_territoire{
  padding: 7% 0;
}

.voyage{
  background-color: $color2;
  color: #ffffff;
}

.carte_territoire{
  background-color: #ebe9e9;
}

.expo{
  background-color: $color1;
  color: #ffffff;
}

.expo, .livre{
  padding: 7% 5%;
}

.box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#voyage, #perimetre, #hall, #Livre, #carte_territoire{
  width: 15%;
  height: 15%;
}

.box h2{
  margin: 5% 0;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 600;
}

.box p{
  font-family: 'Lato' sans-serif;
  text-align: center;
}

.title_project{
  background-color: #1a1a1a;
}

.title_project h3{
  text-align: center;
  color: #ffffff;
  padding: 2% 0;
  font-size: 2em;
}

@media screen and (max-width: $tablet-wide){


  .text_project{
    top: 10%;
    width: 80%;
    font-size: 0.8em;
  }

  .text_about{
    font-size: 0.8em;
  }
}
