body{
  overflow-x: hidden;
}

.team_img{
  position: relative;
}

#team{
  height: 75vh;
  width: 100%;
}

.text_project{
  position: absolute;
  width: 60%;
  top: 20%;
  left: 10%;
  padding: 4%;
  background-color: #ffffff;
  font-size: 1.2em;
}

.perimetre, .voyage, .carte_territoire{
  padding: 7% 0;
}

.voyage{
  background-color: $color2;
  color: #ffffff;
}

.carte_territoire{
  background-color: #ebe9e9;
}

.expo{
  background-color: $color1;
  color: #ffffff;
}

.expo, .livre{
  padding: 7% 5%;
}

.box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#voyage, #perimetre, #hall, #Livre{
  width: 15%;
  height: 15%;
}

#carte_territoire{
  width: 30%;
  margin-bottom: 5%;
}

.box h2{
  margin: 5% 0;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 600;
}

.box p{
  font-family: 'Lato' sans-serif;
  text-align: center;
}
