$color1: #53B89C;
$color2: #1A1A1A;
$phone: 320px;
$tablet: 768px;
$tablet-wide:992px;
$desktop: 1248px;

footer, .push {
  background-color:black;
  height:100%;
  width:100%;
  text-align:center;
  li{
    color:white;
  }
  .logo{
    max-height:50%;
    margin: 0 auto;
    display: block;
  }
  .row {
    justify-content: center;
  }

  .rs {
    max-width: 30px;
    margin: 0px 10px;
  }
  @media screen and (max-width: $tablet){
  text-align:center;
  }

}


