
footer {
  background-color:black;
  li{
    color:white;
  }
  .logo{
    max-height:50%;
    margin: 0 auto;
    display: block;
  }
  .row {
    justify-content: center;
  }

  .rs {
    max-width: 30px;
    margin: 0px 10px;
  }
}




