// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color1: #53B89C;
$color2: #1A1A1A;
$phone: 320px;
$tablet: 768px;
$tablet-wide:992px;
$desktop: 1248px;

.navbar{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.field_img input, .field_img textarea{
  margin: 1.5% 0;
  padding: 1%;
  width: 50%;
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.07);
  font: lato, arial;
  font-weight: 600;
}

.field_img input::placeholder , .field_img textarea::placeholder{
  color: #bcbaba;
}
.edit_photo_box{
max-width: 40%;
margin:auto;
}
.edit_photo_box img{
  display:block;
  height:100%;
  width:100%;
}
.actions{
  text-align: center;
}

.actions input{
  background-color: $color1;
  color: #ffffff;
  font-weight: 600;
  margin-top: 15px;
}

.col-lg-6{
  padding: 0;
}

.form_photo{
  margin: auto;
  text-align: center;
}

#photo_content{
  resize: none;
}
.card-body{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#back{
  position: absolute;
  z-index:30;
  top: 12%;
  left: 5%;
}

#back_img{
  width: 5%;
}

.map_add{
  height: calc(100vh - 70px) !important;
}

#photo_long, #photo_lat{
  display: none;
}

#photo_date_3i, #photo_date_2i, #photo_date_1i{
  border: none;
  background: none;
  margin: 0 2%;
}
#edit_photo{
  color:$color1;
  text-transform: uppercase;
  margin-bottom:50px;
}
.date select{
  appearance: none;
}
.card-title:hover{
  color:$color1;
}

.photo_content {
  padding:20px;
  height:auto;
  width: 80%;
  margin: 0 auto;
  .content{
    background-color:white;
    margin: 0 auto;
    padding:5%;
    z-index:2;
    bottom:-30px;
    width:60%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
  }
  h3{
    font-size:13px;
    text-transform:uppercase;
    font-weight:bold;
  }
}

#content_map > #mapid{
  height: 400px;
  z-index: 1;
}

p {
  margin-bottom: 0px;
}


.test > h1 {
  font-family: Lato, arial;
  font-size: 14px;
}


.photodiv{
  padding-right: 20px;
}

.descriptionphoto{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.07);

}
.row{
  margin:0
}
.feed{
  margin-top:5%;
    h1{
      font-size:20px;
      text-align:center;
      padding:10px;
      margin-bottom:5%;
      font-weight:bold;
      color: $color1;
      text-transform:uppercase;
      }
    span{
      color:$color2;
      font-size:20px;
    }
    .card-columns{
      width:100%;
      column-count:2;
      column-gap: 5%;
      display:inline-block;
      .card{
        margin-bottom:10%;
        border: 0;
        position:relative;
        }
      @media screen and (max-width: $tablet-wide){
        column-count:1;
        }
    }
}
.card-body{
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.07);
  position:relative;
  z-index:10;
  margin-top:-10%;
  background-color:white;
  h5{
    text-transform: uppercase;
    font-weight:bold;
    font-size:15px;
  }
  p {
    font-size:13px;
  }
}

#btn_new{
  margin-top: 30px;
  border: none;
  padding: 2% 3%;
}

#img_fluid{
  cursor: pointer;
  transition: 0.3s;
}

#img_fluid:hover{
  opacity: 0.7;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}


.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform:scale(0)
  }

  to {
    -webkit-transform:scale(1)
  }
}

@keyframes zoom {
  from {
    transform:scale(0)
  }
  to {
    transform:scale(1)
  }
}

.close_modal {
  position: absolute;
  right: -100px;
  color: #ffffff;
  font-size: 90px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

a:hover{
      text-decoration: none;
      color:inherit;
    }


.showrow{
  margin-top:50px;
  h1{
    color: $color1;
    text-transform: uppercase;
  }
  .date{
  font-weight:bold;
  font-style: italic;
  font-size:12px;
  margin-bottom:20px;
  margin-top:20px;
  }
  a{
    background-color: $color1;
    font-family: 'Lato', bold, sans-serif;
    color: white;
    padding:5px;
  }
}

.userlink{
  font-weight:bold;
  text-transform:capitalize;
  margin:5px;
  font-size: 12px;
  font-style: italic;
}


#btn_map{
  position: absolute;
  z-index: 9999;
  top: 44%;
  left: 37%;
  color: #ffffff;
  background-color: $color1;
  padding: 3% 4%;
  font-size: 1.5em;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

#bg_opacity{
  height: 100%;
  z-index: 9998;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  width: 100%;
  cursor: pointer;
}

.map{
  position: relative;
}


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

@media (max-width: 768px){
  .menu{
    position: fixed;
  }
}

// .first, .prev, .next, .last{
//   display: none;
// }
.page-link {
  color:$color1!important;
}
.page-item.active .page-link {
    z-index: 1;
    color: white!important;
    background-color: $color1;
    border:1px solid $color1;
}
.pagination{
  justify-content: center;
  width:100%;
}
nav{
  width:100%;
}
