// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.field_img input, .field_img textarea{
  margin: 1.5% 0;
  padding: 1%;
  width: 50%;
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.07);
  font: lato, arial;
  font-weight: 600;
}

.field_img input::placeholder , .field_img textarea::placeholder{
  color: #d6d3d3;
}

.actions input{
  background-color: #53B89C;
  color: #ffffff;
  font-weight: 600;
  margin-top: 10%;
  padding: 2% 3%;
  border: none;
}

.col-lg-6{
  padding: 0;
}

.form_photo{
  margin: auto;
  text-align: center;
}

#photo_content{
  resize: none;
}

#back{
  position: absolute;
  top: 12%;
  left: 5%;
}

#back_img{
  width: 5%;
}

.map_add{
  height: calc(100vh - 70px) !important;
}

#photo_long, #photo_lat{
  display: none;
}

#photo_date_3i, #photo_date_2i, #photo_date_1i{
  border: none;
  background: none;
  margin: 0 2%;
}

.date select{
  appearance: none;
}

.resize_photo {
  padding:20px;
  margin-bottom:10%;
  display: flex;
  justify-content: center;
  img{
    width:100%;
  }
  .content{
    background-color:white;
    justify-content:center;
    padding:5%;
    z-index:2;
    position:absolute;
    bottom:-30px;
    width:60%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
  }
  h3{
    font-size:13px;
    text-transform:uppercase;
    font-weight:bold;
  }
}

.post{
  max-width: 100%;
}

#mapid{
  height:100vh;
}


.post {
  max-width: 100%;
}

#mapid {
  height:100vh;
}

.test {
  display: flex;
  align-items: flex-end;
  height:100vh;
}

p{
  margin-bottom: 0px;
}


p {
  margin-bottom: 0px;
}

.test > h1 {
  font-family: Lato, arial;
  font-size: 14px;
}


.photodiv{
  padding-right: 20px;
}

.descriptionphoto{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.07);

}

